/* all annan layout i labben sköts av filen bootstrap_theemed.css, bootstrap är ett css-ramverk med många färdigskriva klasser att använda i sin html */

.customHeader{
              color: lightblue;
              text-align: center;
/* styla om headern så att texten centreras och får en annan färg*/
}

.person{
        color: green;
        text-align: center;
/* gör så att elementet ändrar utseende/placering på minst tre olika sätt */
}

.bread {
  list-style: none;
  font: 15px;'
  width: 100%;
  background: grey;
  display: block;
  height:20px;
}
.bread li+li:before {
    padding: 5px;
    content: "/";
}
.bread li {
  float: left;

}
.bread li #white {
  color: white
}

.card {
  margin-top: 5px;
  width: 485px;
  border:1px solid black
}

.button {
  align: right;
  height: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
}

td {
  borderBottom: 1px solid black;
  textAlign: center;
}
